@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i&display=swap');
* {
	font-family: 'Poppins', sans-serif;
}

/* Navigation bar */
.navbar {
	height: 7vh;
}
.navbar-light .navbar-brand {
  color: #7e48f6;
  font-weight: 600;
  font-size: 1.7rem;
  transition: .3s;
}
.navbar-light .navbar-brand:hover {
	color: #9f7af1;
}
.navbar-nav .nav-item .nav-link {
	color: rgba(0,0,0,.9);
	font-size: 1rem;
}
.navbar-nav .nav-item .nav-link .hover {
	width: 0;
	border: 1px solid #7e48f600;
	transition: .5s;
}
.navbar-nav .nav-item:hover .hover {
	border: 1px solid #7e48f6ff;
	width: 50%;
}
.navbar-nav .nav-item .active .hover {
	border: 1px solid #7e48f6ff;
	width: 50%;
}

/* Getting */
.getting {
	height: 93vh;
}
.getting .row,
.getting .row .col-md-6,
.getting .row .col-md-6 {
	height: inherit;
}
.purple {
	color: #7e48f6;
}
.bold {
	font-weight: 600;
}
.underline {
	text-decoration: underline;
	text-decoration-color: #D6C0FB;
}
.getting .trailer {
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.getting .trailer .the-getting {
	/*font-size: 2rem;*/
}
.getting .trailer .info {
	color: #75767a;
	margin-top: 25px;
	margin-bottom: 30px;
}
.getting .trailer .list-button .hire-me,
.getting .trailer .list-button .Portfolio,
.right .list-button .Portfolio, 
.right .list-button .hire-me{
	font-size: .8rem;
	font-weight: 600;
	padding: 8px 32px;
	border-radius: 3px;
	border: 1px solid #7e48f6;
	transition: .3s;
}
.getting .trailer .list-button .hire-me,
.right .list-button .hire-me {
	background-color: #7e48f6;
	color: #fff;
}
.getting .trailer .list-button .Portfolio,
.right .list-button .Portfolio {
	background-color: #fff;
	color: #7e48f6;	
}
.getting .trailer .list-button .hire-me:hover,
.right .list-button .hire-me:hover {
	background-color: #9f7af1;
	border-color: #9f7af1;
	box-shadow: 0 0 3px #ddd;
}
.getting .trailer .list-button .Portfolio:hover,
.right .list-button .Portfolio:hover {
	background-color: #ede5ff;
	border-color: #9f7af1;
	box-shadow: 0 0 3px #ddd;
}

/* About */
.about {
	background-color: #f9f7fc;
}
.about-title {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.about-title .my-skill {
	color: #7e48f6;
}
.left {
	position: relative;
	height: 400px;
	width: 100%;
}
.left .img {
	width: 300px;
	height: 300px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}
.left .highlight {
	width: 150px;
	height: 150px;
	background-color: #7e48f6;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	position: absolute;
	bottom: 70px;
	left: 30px;
	z-index: 3;
}
.left .highlight span {
	font-weight: 600;
	font-size: 1.4rem;
}
.left .highlight div {
	margin-top: 14px;
}
.left .highlight div i {
	margin: 0 4px;
}
.left .background-dash{
	width: 200px;
	height: 300px;
	border: 3px dashed #a07eec;
	border-radius: 4px;
	position: absolute;
	bottom: 50px;
	left: 100px;
	z-index: 1;
}
.right .list-link-button {
	margin-bottom: 30px
}
.right .list-link-button .btn {
	color: #7f7f7f;
}
.right .list-link-button .active {
	background-color: #fff;
	box-shadow: 0 0 20px #ddd;
	border-radius: 3px;
	color: #551fcc;
}
.right p {
	color: #595959;
	margin-bottom: 30px;
}

/* Service */
.service {
	background-color: #fcfaff;
}
.service .box {
	width: 100%;
	height: 350px;
	background-color: #fff;
	color: #7f7f7f;
	box-shadow: 0 0 20px #ddd;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 4px;
}
.service .box .title {
	color: #363636;
	font-size: 2.7rem;
}
.service .box .context {
	margin: 30px 0;
	line-height: 25px;
}
.service .box .read-more {
	margin-top: 10px;
}
.service .box .read-more .btn {
	color: #7f7f7f;
	padding: 0;
	display: flex;
	align-items: center;
}
.service .box .read-more .btn span {
	font-size: .8rem;
	font-weight: 600;
}
.service .box .read-more .btn i {
	margin-left: 15px;
}
.service .focus {
	background-color: #7e48f6;
	color: #fff;
}
.service .focus .title {
	color: #fff;
}
.service .focus .read-more .btn {
	color: #fff;
}

/*porlfolio*/
.portfolio {
	background-color: #fcfaff;
}
.img-height {
	height: 400px;
}

/*Blog*/
.blog {
	background-color: #fcfaff;
	position: relative;
}
.my-card {
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
	color: #565656;
}
.my-card .my-card-header {
	font-size: 5rem;
	font-weight: 300;
}
.my-card .my-card-content {
	font-weight: 600;
}
.banner {
	box-shadow: 0 3px 10px #ddd;
	width: 900px;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	background-color: white;
	top: 200px;
}
.banner .text {
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 30px;
	color: #3e3e3e;
}
.banner .btn-primary {
	background-color: #7e48f6;
	border: none;
	padding: 10px 30px;
	border-radius: 2px;
}
.banner .btn-primary:hover {
	background-color: #9670e9;
}
.banner .btn-primary:active {
	background-color: #9670e9;
	outline-color: #9670e9;
}
